#grid-container{
    --side: 16;
    max-width: calc(var(--side) * 32px);
    display: flex;
    flex-wrap: wrap;
}

#grid-container div{
    width: 32px;
    aspect-ratio: 1 / 1;
    background-color: lightblue;
    transition: 100ms ease-in-out;
}

#grid-container .grid-item--active{
    background-color: lightseagreen;
}

.pill{
    height: 56px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: none;
    background-color: lightsalmon;
    cursor: pointer;
    transition: 200ms ease;
}

.pill:hover{
    background-color: lightcoral;
}